@font-face
{
    font-family: "Anastasia";
    src: url("/Anastasia.ttf");
}
*
{
    box-sizing: border-box;
}

html
{
    font-family: 'Roboto', sans-serif;
}

.block
{
    width: 100vw;
    height: 100vh;
    background: yellow;
    margin: 0px;
    padding: 20px;
}

.wrapper
{
    width: 100%;
    height: 100%;
    padding: 15px 0px 15px 15px;
    border: 2px solid green;
    overflow-x: auto;
    white-space: nowrap;
    display: inline-block;
    background: aqua;
}

.ver
{
    text-overflow: ellipsis;
    overflow-y: auto;
    white-space: nowrap;
    display: inline-block;
    padding: 15px 15px 0px 15px;
    margin-right: 15px;
    width: 315px;
    height: calc(100% - 4px);
    border: 2px solid black;
    background: greenyellow;
}

.hor
{
    width: 100% ;
    height: 30px;
    border: 2px solid black;
    background: pink;
    padding: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    white-space: normal;
    position: relative;
  }

.hor:nth-child(even)
{
    height: 165px;
}

.hor:nth-child(odd)
{
    height: 65px;
}

.truncate-text:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(180deg, transparent, pink 50%);
}

.anastasia
{
    font-family: Anastasia;
    font-size: 14px;
}

.italic
{
    font-style: italic;
}

.bold
{
    font-weight: 700;
}

.test{
    box-sizing: unset;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}